* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  color: #a0a0a0;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

.main-container {
  max-width: 540px;
  margin: 0 auto;
}
img {
  max-width: 100%;
}

.company-info-wrap {
  background: #191919;
  height: 350px;
  position: relative;
}

.company-info {
  width: 100%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
}

.main-image {
  height: 75px;
  display: block;
  margin: 0 auto; 
}

.person-main-info {
  width: 100%;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -75%);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.person-main-info span {
  color: #33cfa8;
}

.person-name {
  font-size: 36px;

  margin-bottom: 10px;
}

.person-position {
  font-size: 26px;
}

.person-contact-wrap {
  padding: 0 20px;
}

.person-contact-info {
  background: #e9e9e9;
  padding: 40px 0;
  width: 100% ;
}



.display {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.social-link {
  width: 40px;
  height: 40px;
  background: #191919;
  border-radius: 50%;
  color: #1c9772;
  text-align: center;
  margin: 0 auto;
  line-height: 40px;
  margin-bottom: 20px;
}

.person-social-description {
  text-align: center;
}

.social-link img  {
  height: 25px;
  margin-top: 6px;
  margin-bottom: 4px;
}

#triangle {
  border-left: 168px solid transparent;
  border-right: 168px solid transparent;
  border-top: 40px solid #29d9ad;
  position: absolute;
  top: 370px;
  left: 50%;
  transform: translate(-50%, -50%);
}

#triangle-inner {
  width: 0;
  height: 0;
  border-left: 168px solid transparent;
  border-right: 168px solid transparent;
  border-top: 20px solid #248c75;
  position: absolute;
  top: 360px;
  left: 50%;
  transform: translate(-50%, -50%);
}

