*{
  margin: 0;
  padding: 0%;
}
html,body {
 font-family: 'Poppins', sans-serif;

}

.container{
  max-width: 540px;
  margin: 0 auto;
  position: relative;
}

.card-design {
  margin: 0 auto;
  background-color: #231f20;
  color:#1c2534;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 9px 26px 5px #333;
  height: 100vh;
}

.top {
  /* box-shadow: 0px -15px 10px -15px rgb(224, 221, 9); */
   box-shadow: 0px -15px 24px 5px #000;
}
.bottom {
 box-shadow: 0px 15px 24px 5px #000; 
}

.top-right-line {
  height: 6px;
  width: 990px;
  /* box-shadow: 10px -10px 17px #f7be06; */
    background: linear-gradient(to right, rgba(153, 112, 44, 100), rgba(153, 112, 44, 100));
  transform: translateX(-303px) rotate(45deg);
}
.bottom-left-line {
  height: 6px;
  width: 706px;
  /* box-shadow: 10px 10px 17px #f7be06; */
  background: linear-gradient(to right, rgba(153, 112, 44, 100), rgba(153, 112, 44, 100));
  transform: translateX(-117px) rotate(45deg);
}
 
.center-content {
  padding: 240px 0 0 0;
  color: #99702c;
  text-align: center;
  height: 340px;
}

.center-content a {
  color: #99702c;
  text-decoration: none;
}

.center-content h1 {
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.center-content p{
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.display{
  display: flex;
  flex-direction: row;
  padding: 0 10px;
}
.detail{
  margin: 0 auto; 
  max-width: 275px;
  font-size: 18px;
}

.icon{
  padding: 10px;
}
.data{
  padding: 10px 0 0 10px;
}


@media screen and (max-width: 413px) {
  .center-content {
    padding: 158px 0 0 0;
    color: #99702c;
    text-align: center;
    height: 398px;
}
.top-right-line {
  height: 6px;
  width: 778px;
  /* box-shadow: 10px -10px 17px #f7be06; */
  background: linear-gradient(to right, rgba(153, 112, 44, 100), rgba(153, 112, 44, 100));
  transform: translateX(-275px) rotate(45deg);
}
.bottom-left-line {
  height: 6px;
  width: 706px;
  /* box-shadow: 10px 10px 17px #f7be06; */
  background: linear-gradient(to right, rgba(153, 112, 44, 100), rgba(153, 112, 44, 100));
  transform: translateX(-143px) rotate(45deg);
}
}


