/*icon-link:https://www.flaticon.com/search?word=envelope&style_id=1*/
*{
  margin: 0;
  padding: 0%;
}
html,body {
 font-family: 'Poppins', sans-serif;

}

.container {
  max-width: 540px;
  margin: 0 auto;
  position: relative;
}

.card-design {
  margin: 0 auto;
  background-color: #231f20;
  color:#1c2534;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 9px 26px 5px #333;
  height: 100vh;
}

.top {
   box-shadow: 0px 12px 24px 5px #090708;
}

.bottom {
 box-shadow: 0px -8px 24px 5px #090708; 
}




  .top-right-line {
    height: 5px;
    width: 937px;
    background: linear-gradient(90deg, rgba(150,71,5,1) 0%, rgba(157,85,13,1)15%, rgba(255,158,21,1)60%,rgba(250,253,60,1)80%,rgba(254,169,62,1) 90%,rgba(239,167,65,1)100%);
    transform: translateX(-259px) rotate(45deg);
    position: relative;
}

/* .top-right-line {
  height: 5px;
  width: 988px;
  background: linear-gradient(90deg, rgba(150,71,5,1) 0%, rgba(157,85,13,1)15%, rgba(255,158,21,1)60%,rgba(250,253,60,1)80%,rgba(254,169,62,1) 90%,rgba(239,167,65,1)100%);
  transform: translateX(-302px) rotate(45deg);
} */
.dots {
  height: 260px;
  background-image: radial-gradient(#da9226 20%, transparent 30%),
    radial-gradient(#5b4138 20%, transparent 30%);
  background-size: 12px 12px;
  background-position: 0 0, 30px 48px;
  transform: translateY(-260px);
}

.bottom-dots {
  height: 285px;
  background-image: radial-gradient(#da9226 20%, transparent 30%),
  radial-gradient(#5b4138 20%, transparent 30%);
  background-size: 12px 12px;
  background-position: 0 0, 30px 52px;
  background-size: 12px 12px;
  
}

.bottom-left-line {
  height: 5px;
  width: 556px;
  /* box-shadow: 10px 10px 17px #f7be06; */
  background: linear-gradient(90deg, rgba(150,71,5,1) 0%, rgba(157,85,13,1)10%, rgba(255,158,21,1)40%,rgba(250,253,60,1)50%,rgba(254,169,62,1) 70%,rgba(239,167,65,1)100%);
  transform: translateX(-117px) rotate(45deg);
}
 
.center-content {
  padding: 250px 0 0 0;
  color: #99702c;
  text-align: center;
  height: 340px;
}

.center-content a {
  color: #99702c;
  text-decoration: none;
}

.center-content h1 {
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.center-content p {
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.display {
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  padding-bottom: 10px;
}

.detail {
  margin: 0 auto; 
  max-width: 260px;
  font-size: 18px;
}

.icon {
  padding: 10px;
}

.data {
  padding: 5px 0 0 10px;
}

@media only screen and (min-width : 320px) and (max-width : 480px) {

  .center-content {
    padding: 164px 0 0 0;
    color: #99702c;
    text-align: center;
    height: 398px;
  }

  .top-right-line {
    height: 5px;
    width: 809px;
    background: linear-gradient(90deg, rgba(150,71,5,1) 0%, rgba(157,85,13,1)15%, rgba(255,158,21,1)60%,rgba(250,253,60,1)80%,rgba(254,169,62,1) 90%,rgba(239,167,65,1)100%);
    transform: translateX(-275px) rotate(45deg);
  }

  .bottom-left-line {
    height: 5px;
    width: 706px;
    background: linear-gradient(90deg, rgba(150,71,5,1) 0%, rgba(157,85,13,1)10%, rgba(255,158,21,1)40%,rgba(250,253,60,1)50%,rgba(254,169,62,1) 70%,rgba(239,167,65,1)100%);
    transform: translateX(-143px) rotate(45deg);
  }

  
  .detail {
    margin: 0 auto;
    max-width: 248px;
    font-size: 18px;
  }
}









  

