@font-face{font-family: customfonts;
	src: url(/fonts/LibreBaskerville-Regular.otf);}
	
*{
		margin: 0;
		padding: 0;
		font-family: customefonts;
	}
	
.container{
	max-width: 540px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	/* height: 100vh; */
}

.main {
		background-color: #636363;
}

.top
{
	height: 150px;
	background: #1b1b1b;
	border-bottom: 5px solid #725239;
}

.center{
	background: #101010;
	color: #fff;
	height: 400px;
}

.description h1 {
	font-size: 30px;
	text-align: center;
	color: #d9a97d;
	line-height: 1.5;
	
}

.top-border {
	
	background: linear-gradient(90deg, rgba(150,71,5,1) 0%, rgba(157,85,13,1)15%, rgba(255,158,21,1)60%,rgba(250,253,60,1)80%,rgba(254,169,62,1) 90%,rgba(239,167,65,1)100%);
	padding-bottom: 2px;
}

.bottom-border{

	background: linear-gradient(90deg, rgba(150,71,5,1) 0%, rgba(157,85,13,1)15%, rgba(255,158,21,1)60%,rgba(250,253,60,1)80%,rgba(254,169,62,1) 90%,rgba(239,167,65,1)100%);;
	border-image: linear-gradient(to right, red, pink);
}

.wrappeer {
	overflow: hidden;
}

.wrappeer2 {
	overflow: hidden;
}

.verticle-line {
  width: 1px;
  min-height: 198px;
  background: red;
  margin: 4px;
  float: left;
}

.verticle-line2 {
  width: 1px;
  min-height: 198px;
  background: red;
  margin: 4px;
  float: right;
}

.verticle-line{
	transform: translateY(-23px) rotate(-45deg);
}

.verticle-line2{
	transform: translateY(-23px) rotate(45deg);
}


.description p {
	font-size: 20px;
	text-align: center;
	color: #d9a97d;
	padding-bottom: 10px;
}

.bottom {
 height: 150px;
 background-color: #1b1b1b;
 border-top: 5px solid #725239;
}

.company-logo img {
	display: block;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;
}


.display {
	padding-bottom: 10px;
}
.display span {
	margin-right: 10px;
}

/* .center h1{
	font-size: 28px;
	font-weight: bold;
	line-height: 20px;
	letter-spacing: 2px;
	margin-bottom: 10px;
	color: #5a5a5a;
} */

/* .center p{
 font-size: 20px;
	line-height: 20px;
	letter-spacing: 2px;
	margin-bottom: 30px;
	color: #5a5a5a;
} */


.display{
	display: flex;
	flex-direction: row;
}

.detail{
	position: relative;
	font-size: 18px;
	display: table;
	margin: 0 auto;
}



.data{
	color: #725239;
}

@media only screen and (max-width : 320px) {
	
	.top {
		height: 150px;
		padding: 30px;
		background: white;
	}
}